<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PaletteFlow</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="icon" href="assets/PFLogo.png" sizes="any">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&display=swap"rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="assets/PaletteFlow.png" width="190" /></a>
        </div>

        <ul class="navList">
            <li class="navItem"><a href="/tool">เครื่องมือ</a></li>
            <li class="i">I</li>
            <li class="navItem"><a href="/about">เกี่ยวกับเรา</a></li>
        </ul>

        <div class="socialMedia">
            <div class="email-copy-icon">
                <i class="icon fa-solid fa-envelope"></i>
                <span class="email-text">paletteflow.team@gmail.com</span>
            </div>
            <a href="https://facebook.com" target="_blank" class="icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>

    <a href="/"><img class="logoM" src="assets/PaletteFlow.png" /></a>

    <!-- Hamburger Menu (for mobile) -->
    <div class="hamburgerWrapper">
        <div class="hamburgerIcon" onclick="toggleMenu()">
            <i id="hamburgerIcon" class="fas fa-bars"></i>
        </div>

        <div id="hamburgerMenu" class="showMenu" style="display: none">
            <div class="menuItem"><a href="/tool">เครื่องมือ</a></div>
            <div class="menuItem"><a href="/about">เกี่ยวกับเรา</a></div>
            <div class="contactSection">
                <p>ติดต่อเรา</p>
                <div class="socialMedia">
                    <div class="email-copy-icon">
                        <i class="icon fa-solid fa-envelope"></i>
                        <span class="email-text">paletteflow.team@gmail.com</span>
                    </div>
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f icon"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="border">
        <div class="first"></div>
    </div>

    <section class="content-container">
        <div class="text-container">
            <div class="title">
                <img id="toolHeader" src="assets/Tool_header.png" />
            </div>
            <div class="description">
                <div class="description-text">
                    ทำให้งานออกแบบของคุณสวยงามและโดดเด่นด้วยทฤษฎี 60:30:10
                    <br />
                    ปรับแต่งสีให้เข้ากับสไตล์และความต้องการของคุณ
                    <br class="mobile-br" />
                    พร้อมทั้งรับโค้ดสีไปใช้งานทันที!
                </div>
            </div>
        </div>
    </section>

    <section class="content-part">
        <div class="rounded-content-square">
            <section class="content">
                <div class="left-column">
                    <div class="white-rounded-square">
                        <div class="percentage-bar">
                            <img src="assets/percentagebar.png" class="percentage-img desktop" />
                            <img src="assets/percentagebar_mobile.png" class="percentage-img mobile" />
                        </div>
                        <div class="x-square"></div>
                        <div class="color-bar-wrapper">
                            <div class="color-bars">
                                <div class="color-bar" id="colorBar60" style="flex: 6" data-index="0">
                                    <input type="color" class="color-input" data-index="0" />
                                </div>
                                <div class="color-bar" id="colorBar30" style="flex: 3" data-index="1">
                                    <input type="color" class="color-input" data-index="1" />
                                </div>
                                <div class="color-bar" id="colorBar10" style="flex: 1" data-index="2">
                                    <input type="color" class="color-input" data-index="2" />
                                </div>
                            </div>
                            <div class="custom-close-btn normal" aria-label="Close" id="delete-button"
                                onclick="clearPaletteBars()"></div>
                        </div>

                        <div class="color-selector">
                            <div class="custom-plus-minus-btn" id="controller60" aria-label="Add or Remove color">
                                <div class="btn-section" id="plusBtn" onclick="splitColorBar('colorBar60')">
                                    <img src="assets/add.png" alt="+" />
                                </div>
                                <div class="divider"></div>
                                <div class="btn-section" id="minusBtn" onclick="removeColor('colorBar60')">
                                    <img src="assets/minus.png" alt="-" />
                                </div>
                            </div>

                            <div class="custom-plus-minus-btn" id="controller30" aria-label="Add or Remove color">
                                <div class="btn-section" id="plusBtn" onclick="splitColorBar('colorBar30')">
                                    <img src="assets/add.png" alt="+" />
                                </div>
                                <div class="divider"></div>
                                <div class="btn-section" id="minusBtn" onclick="removeColor('colorBar30')">
                                    <img src="assets/minus.png" alt="-" />
                                </div>
                            </div>
                            <div class="custom-close-btn mobile" aria-label="Close" id="delete-button"
                                onclick="clearPaletteBars()"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="filter-container">
                <div class="left-column">
                    <div class="design-generator-text">Design Generator</div>
                    <div class="rounded-white-square">
                        <div class="filter-text">เลือกหมวดหมู่</div>
                        <div class="filter-square-row">
                            <div class="rounded-filter-square" id="third-image-filter">
                                <img src="assets/Art-icon.png" id="art-icon" />
                                <div class="filter-icon-text">ศิลปะ</div>
                            </div>
                            <div class="rounded-filter-square" id="funiture-filter">
                                <img src="assets/Funiture-icon.png" id="funiture-icon" />
                                <div class="filter-icon-text">ตกแต่งภายใน</div>
                            </div>
                            <div class="rounded-filter-square" id="application-filter">
                                <img src="assets/Application-icon.png" id="application-icon" />
                                <div class="filter-icon-text">แอปพลิเคชั่น</div>
                            </div>
                            <div class="rounded-filter-square" id="website-filter">
                                <img src="assets/Website-icon.png" id="website-icon" />
                                <div class="filter-icon-text">เว็บไซต์</div>
                            </div>
                            <button class="start-button">เริ่มเลย !</button>
                        </div>
                    </div>
                </div>

                <div class="right-column">
                    <div class="rounded-square">
                        <img src="assets/download.png" alt="" class="download-icon" />
                        <img src="assets/blankcircle.png" alt="" class="blank-icon" />
                    </div>

                    <div class="web-mockup-container hidden">
                        <iframe src="/1-3/index.html" class="mockup-frame"></iframe>
                    </div>

                    <div class="web-mockup-container-4 hidden">
                        <iframe src="/2-4/index.html" class="mockup-frame"></iframe>
                    </div>

                    <div class="web-mockup-container-5 hidden">
                        <iframe src="/3-5/index.html" class="mockup-frame"></iframe>
                    </div>

                    <div class="thirdCanvas-container hidden">
                        <canvas id="thirdCanvas"></canvas>
                    </div>
                    <div class="fourthCanvas-container hidden">
                        <canvas id="fourthCanvas"></canvas>
                    </div>
                    <div class="fifthCanvas-container hidden">
                        <canvas id="fifthCanvas"></canvas>
                    </div>

                    <div class="thirdInteriorCanvas-container hidden">
                        <canvas id="thirdInteriorCanvas"></canvas>
                    </div>
                    <div class="fourthInteriorCanvas-container hidden">
                        <canvas id="fourthInteriorCanvas"></canvas>
                    </div>
                    <div class="fifthInteriorCanvas-container hidden">
                        <canvas id="fifthInteriorCanvas"></canvas>
                    </div>

                    <div class="thirdApplicationCanvas-container hidden">
                        <canvas id="thirdApplicationCanvas"></canvas>
                    </div>
                    <div class="fourthApplicationCanvas-container hidden">
                        <canvas id="fourthApplicationCanvas"></canvas>
                    </div>
                    <div class="fifthApplicationCanvas-container hidden">
                        <canvas id="fifthApplicationCanvas"></canvas>
                    </div>
                </div>
            </section>
        </div>
    </section>


    <section class="loading hidden">
        <div class="loader"></div>
    </section>

    <div id="customAlertOverlay" class="hidden" onclick="hideCustomAlert()">
        <div id="customAlertBox">
            <img id="customAlertImage" src="" alt="Alert">
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>