body{
    margin: 0;
    font-family: "Prompt", sans-serif;
}

h1 {
    font-size: 3.5vw;
    margin: 0 0 1vw 0;
}

h2 {
    font-size: 2.5vw;
    margin: 0 0 1vw 0;
}

h3 {
    font-size: 1.8vw;
    margin: 0 0 0.8vw 0;
}

p {
    font-size: 1.2vw;
    margin: 0 0 1vw 0;
    line-height: 1.5;
}

ul, li, a {
    font-size: 1.1vw;
    text-decoration: none;
}

.last .left p,
.last .mid p,
.last .right p {
    font-size: 1.6vw; 
    margin-bottom: 1.8vw;/
}

.last .left i,
.last .mid i,
.last .right i {
    font-size: 2vw; 
}

button {
    font-size: 1.2vw;
    padding: 0.8vw 2vw;
    border-radius: 0.5vw;
}

/*NAVBAR*/

.small li a {
    font-size: 0.73vw;
    padding: 0.26vw 0.83vw;
}

.small li a:hover {
    background-color: #a48e80; /* 30% 1 */
} 

.small {
    background-color: #c1b3a8; /* 30% 2 */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a48e80; /* 30% 1 */
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #f4efeb; /* 10% */
    text-align: center;
    font-size: 1.04vw;
    padding: 0.73vw 0.83vw;
    text-decoration: none;
}
  
li a:hover {
    background-color: #c1b3a8; /* 30% 2 */
}


/*header*/
.header{
    height: fit-content;
    background-color: #365a72; /* 60% 1 */
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 2.08vw;
    padding: 2.08vw;
}

.header .text{
    margin-top: 0.26vw;
    color: #f4efeb; /* 10% */
}

.header .img{
    padding: 2.08vw;
    color: #f4efeb;  /* 10% */
    font-size: 1.25vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.text button{
    height: 2.19vw;
    margin: 1.56vw 0;
    padding: 0 2.08vw;
    font-size: 1.04vw;
    background-color: #f4efeb; /* 10% */
    border: 0.05vw solid #f4efeb; /* 10% */
    color: #365a72; /* 60% 1 */
    font-size: 0.83vw;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.52vw;
}

.text button:hover{
    background-color: #6991aa; /* 60% 2 */
    border: 0.05vw solid #6991aa; /* 60% 2 */
    color: #f4efeb; /* 10% */
}

/*header*/
.second{
    height: fit-content;
    background-color: #6991aa; /* 60% 2 */
    display: grid;
    grid-template-columns: 50% auto;
    padding: 2.08vw;
    gap: 1.56vw;
    color: #f4efeb; /* 10% */
}

.l-img{
    width: 'fit-content';
    height: 10.42vw;
    margin: 1.56vw;
    background-color: #c1b3a8; /* 30% 2 */
    color: #f4efeb;  /* 10% */
    border-radius: 0.52vw;
    font-size: 1.25vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.console{
    width: 'fit-content';
    justify-content: center; 
    align-items: center; 
    margin: 1.56vw;
    text-align: center;
}

.console i {
    color: #f4efeb; /* 10% */
}

.console .active{
    text-align: center; 
    color: #c1b3a8; /* 30% 2 */
}

.item{
    display: grid;
    grid-template-columns: 38% auto;
    gap: 1.04vw;
    margin-bottom: 1.56vw;

}

.item .pic{
    width: 'fit-content';
    height: 'fit-content';
    background-color: #c1b3a8; /* 30% 2 */
    color: #f4efeb;  /* 10% */
    border-radius: 0.52vw;
    font-size: 1.25vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.item .detail{
    color: #f4efeb;  /* 10% */
}

.item .detail button{
    color: #a48e80; /* 30% 1 */
    background-color: #f4efeb; /* 10% */
    border: 0.05vw solid #f4efeb; /* 10% */
    font-size: 0.83vw;
    padding: 0.52vw;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.52vw;
}

.item .detail button:hover{
    background-color: #a48e80; /* 30% 1 */
    border: 0.05vw solid #a48e80; /* 30% 1 */
    color: #f4efeb; /* 10% */
}

.third {
    height: fit-content;
    display: grid;
    grid-template-columns: 45% auto;
    color: #365a72; /* 60% 1 */
}

.third .left {
    background-color: #c1b3a8; /* 30% 2 */
    padding: 3.65vw;
}

.third .right {
    background-color: #a48e80; /* 30% 1 */
    padding: 3.65vw;
}

.third .left button{
    height: 2.19vw;
    margin: 1.56vw 0;
    padding: 0 2.08vw;
    font-size: 1.04vw;
    background-color: #365a72; /* 60% 1 */
    border: 0.05vw solid #365a72; /* 60% 1 */
    color: #f4efeb; /* 10% */
    font-size: 0.83vw;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0.52vw;
}

.third .left button:hover{
    background-color: #f4efeb; /* 10% */
    border: 0.05vw solid #f4efeb; /* 10% */
    color: #a48e80;  /* 30% 1 */
}

.third .right{
    color: #f4efeb;  /* 10% */
    font-size: 1.25vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.last {
    height: 40vh;
    background-color: #365a72; /* 60% 1 */
    padding: 4.69vw 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.last .left{
    width: 14.94vw;
    height: fit-content;
    padding: 1.04vw 1.56vw;
    color: #365a72; /* 60% 1 */
    background-color: #c1b3a8; /* 30% 2 */
    position: relative;
    left: -1.56vw;
}

.last .mid {
    width: 16.46vw;
    height: fit-content;
    padding: 1.04vw 1.56vw;
    color: #f4efeb; /* 10% */
    background-color: #a48e80; /* 30% 1 */
}

.last .right {
    width: 14.94vw;
    height: fit-content;
    padding: 1.04vw 1.56vw;
    color: #365a72; /* 60% 1 */
    background-color: #c1b3a8; /* 30% 2 */
    position: relative;
    right: -1.56vw;
}

.fa-circle-check{
    font-size: 0.83vw;
}

footer {
    height: fit-content;
    background-color: #6991aa; /* 60% 2 */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 2.08vw;
    flex-direction: column;
}

.icon  {
    color: #f4efeb; /* 10% */
    font-size: 1.35vw;
}

.icon {
    margin-bottom: 1.04vw;
}


.page a {
    margin: 0 0.52vw;
    text-decoration: none;
    color: #f4efeb; /* 10% */
}