body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    color: #2f4157; /*60% (2)*/
    background-color: #cbd9e6; /*60% (1)*/
}

button{
    font-family: "Prompt", sans-serif;
}

p {
    font-size: 1.25vw;
    line-height: 1.6;
    margin: 0.5vw 0;
}

h1 {
    font-size: 2.6vw;
    font-weight: 600;
    margin: 1vw 0;
}

h2 {
    font-size: 2.2vw;
    font-weight: 600;
    margin: 1vw 0;
}

h3 {
    font-size: 1.8vw;
    font-weight: 500;
    margin: 1vw 0;
}

ul, li {
    font-size: 1.2vw;
    margin-left: 2vw;
}

button {
    font-size: 1.25vw;
}

textarea {
    font-size: 1.1vw;
    line-height: 1.4;
}

/* Navbar */

.Navbar {
    margin: 0;
    padding: 0 5%;
    background-color: #577c8e; /*10%*/
    box-shadow: 0 0.1277vw 0.7663vw rgba(0, 0, 0, 0.2);
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Navbar .Logo li a{
    color: #f4efeb; /*30%*/
    margin-right: 2.5543vw;
    text-decoration: none;
    font-size: 2.5543vw;
    margin-left: 2.5543vw; 
    margin-top: 2.5543vw;
    margin-bottom: 2.5543vw;
}

.Navbar .menu {
    display: flex;
    justify-content: right;
    flex-grow: 1; 
}

.Navbar .menu li a {
    color: #f4efeb; /*30%*/
    margin: 0 1.2771vw; 
    display: block;
    text-align: center;
    padding: 1.788vw 2.0434vw;
    text-decoration: none;
}

.Navbar .cart {
    margin-left: auto; 
}

.Navbar .cart li a {
    color: #f4efeb;  /*30%*/
    text-decoration: none;
    padding: 1.788vw 2.0434vw;
}

/* Product */

.product {
    padding: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 40%;
    gap: 4%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 79% 19%;
    gap: 2%;
}

.item1-1 {
    background-color: #2f4157; /*60% (2)*/
}

.item1-1 i {
    color: #f4efeb;  /*30%*/
    font-size: 3.0651vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 51.0856vw;
}

.pic-s {
    margin-bottom: 1.9157vw; 
    background-color: #2f4157; /*60% (2)*/
}

.pic-s i {
    color: #f4efeb; /*30%*/
    font-size: 3.0651vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 12.7714vw;
}

/*Counter*/
.actions {
    display: flex; 
    align-items: center;
    gap: 5.1086vw;
}


.counter {
    display: flex;
    justify-content: start;
}

.counter button{
    height: 5.364vw;
    width: 6.3857vw;
    font-size: 2.5543vw;
    background-color: #577c8e; /*10%*/
    border: 0.1277vw solid #577c8e; /*10%*/
    color: #f4efeb; /*30%*/
    font-size: 3.0651vw;
    cursor: pointer;
    transition: 0.4s;
}

.counter button:hover{
    background-color: #f4efeb; /*30%*/
    border: 0.1277vw solid #f4efeb; /*30%*/
    color: #577c8e; /*10%*/
}

.add button{
    height: 5.364vw;
    width: 10.2171vw;
    padding: 0.0vw;
    font-size: 2.5543vw;
    background-color: #577c8e; /*10%*/
    border: 0.1277vw solid #577c8e; /*10%*/
    color: #f4efeb; /*30%*/
    font-size: 1.6603vw;
    cursor: pointer;
    transition: 0.4s;
}

.add button:hover{
    background-color: #f4efeb; /*30%*/
    border: 0.1277vw solid #f4efeb; /*30%*/
    color: #577c8e; /*10%*/
}


#counter-value {
    height: 5.1086vw;
    width: 6.3857vw;
    background-color: #ffffff;
    border: 0.1277vw solid #f4efeb; /*30%*/
    font-size: 2.5543vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Review*/
.star-rating {
    display: flex;
    align-items: center;
    font-size: 1.788vw;
    gap: 0.7663vw;
}

.star-rating .yellow {
    color: #2f4157; /*60% (2)*/
}

.star-rating .gray {
    color: #577c8e; /*10%*/
}

/*detail*/
.grid-container3 {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 4%;
    margin-top: 5%;
}

.L3 {
    background-color: transparent;
    margin-bottom: 5%;
}

    /* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 0.1277vw solid #577c8e; /*10%*/
    background-color: transparent;
  }
  
.tab button {
    background-color: transparent;
    border-bottom: 0.1277vw solid #577c8e; /*10%*/
    color: #577c8e; /*10%*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.788vw 2.0434vw;
    transition: 0.3s;
    font-size: 2.5543vw;
}

.tab button.active {
    background-color: transparent;
    border-bottom: 0.1277vw solid #2f4157; /*60% (2)*/
    font-weight: 600;
    color: #2f4157; /*60% (2)*/
}

.tabcontent {
    display: none;
    padding: 1.5326vw 0;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
  
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.comment-box {
    margin: 3%;
    overflow: hidden;
    background-color: #f4efeb; /*30%*/
    padding: 1% 2%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1.5326vw;
    color: #2f4157; /*60% (2)*/
}

.profile p{
    font-size: 2.2989vw;
    font-weight: 600;
}

.comment-box textarea{
    width: 100%;
    height: 10.2171vw;
    padding: 1.5326vw 2.5543vw;
    box-sizing: border-box;
    border: 0.1277vw solid #ccc;
    background-color: #dadee0;
    resize: none;
}

.button-set {
    text-align: right;
    margin-top: 1.2771vw;
    margin-bottom: 1.9157vw;
}

.submit, 
.cancel {
    height: 5.364vw;
    padding: 0 5.1086vw;
    font-size: 2.5543vw;
    background-color: #577c8e; /*10%*/
    border: 0.1277vw solid #577c8e; /*10%*/
    color: #f4efeb; /*30%*/
    font-size: 2.0434vw;
    cursor: pointer;
    transition: 0.4s;
}

.submit:hover, 
.cancel:hover {
    background-color: #f4efeb; /*30%*/
    border: 0.1277vw solid #f4efeb; /*30%*/
    color: #577c8e; /*10%*/
}


.R3 {
    background-color: transparent;
}


/* More */
.more {
    width: 100%;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head a {
    margin-right: 4.47vw;
    text-decoration: none;
    color: #577c8e; /*10%*/
}

.column {
    float: left;
    width: 16%;
    padding: 0 1.2771vw;
  }
  
  .row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1.2771vw;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  .card {
    box-shadow: 0 0.5109vw 1.0217vw 0 rgba(0, 0, 0, 0.2);
    padding: 1.2771vw;
    background-color: #f4efeb; /*30%*/
  }

  .card .pic{
    background-color: #2f4157; /*60% (2)*/
  }

  .card .pic i{
    font-size: 3.0651vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: #f4efeb; /*30%*/
    height: 16.6028vw;
  }

  .card .n-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }